$font: 'Quicksand Variable', sans-serif;
$white: #ffffff;
$black: #171520;
$grey: #b1b1b0;
$orange: #febc4d;
$darkGrey: #6c6c6b;
$darkGreen: #1fad95;
$brown: #9f5d13;
$lightGreen: #94ca2b;
$blue: #08427d;
$bgBlogs: #F8F8F8;